S3_BUCKET = "dataset-avt-fyp"
S3_WORKERS_PREFIX = "new35hoursfixedia_worker_strict_single/state"
S3_FALLBACK_CLIPS_PREFIX = ""
AWS_REGION = "eu-north-1"
AWS_ACCESS_KEY_ID = "REPLACE_IN_STREAMLIT_CLOUD"
AWS_SECRET_ACCESS_KEY = "REPLACE_IN_STREAMLIT_CLOUD"
AWS_SESSION_TOKEN = ""
